.loadMoreWrap {
    display: flex;
    justify-content: center;
}

.LoadMoreBtn {
    padding: 12px;
    color: #080808;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: rgb(228, 171, 96);
    border: none;
    border-radius: 8px;
}